BODY  {
	background-color: #FFFFFF;
	background-position: center;
	background-repeat: no-repeat;
}

.costados {
	font-family: Verdana,Helvetica,sans-serif;
	color: #000000;
	font-size: 10px;
	border-width: 1px;
	border-color: #000080;
	border-style: solid;
	background-color: #FFFFFF;
}

.txt2, div {
	font-size: 10pt;
	font-family: verdana, arial, helvetica, sans-serif;
}
.txt11 {
	font-size: 9pt;
	font-family: verdana, arial, helvetica, sans-serif;
}
.txt1 {
	font-size: 10px;
	font-family: verdana, arial, helvetica, sans-serif;
}

.head1 {
	font-size: 20pt;
	font-family: verdana, arial, helvetica, sans-serif;
	color: #4B0081;
	font-weight: bold;
}

.head2 {
	font-size: 13pt;
	font-family: verdana, arial, helvetica, sans-serif;
	color: #4B0081;
	font-weight: bold;
}

.marcadorP {
	display: block;
	width: 100%;
	line-height: 23px;
	text-align: center;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
	font-weight: bold;
	text-decoration: none;
	margin-bottom: 4px;
	background-color : #B0C4DD;
}

.marcadorC {
	display: block;
	width: 100%;
	line-height: 23px;
	text-align: center;
	font-size: 14px;
	color: #003400;
	font-weight: bold;
	text-decoration: none;
	margin-bottom: 4px;
	background-color : #B0C4DD;
}

A {color: #000080;}
A:VISITED {color: #800000;}
A:HOVER {color: #000000;}

.butlink {
	width: 100%;
	line-height: 23px;
	text-align: center;
	font-size: 10pt;
	font-family: Verdana,Helvetica,sans-serif;
	color: white;
	font-weight: bold;
	text-decoration: none;
}
.butlink:VISITED {color: white;}
.butlink:HOVER  {color: white; background-color: #000000;}

.gpmenuform {
 font-family: Verdana,Helvetica,sans-serif;
 font-size: 10px;
}

.separador {
	font-size: 12pt;
	font-family: Verdana,Helvetica,sans-serif;
	color: #003400;
	font-weight: bold;
	text-decoration: none;
  text-align: center; background-color: #B0C4DD; padding: 4px;
}

.taborder {
	border: 1px solid #000000;
	background-color: #E7F5E7;
}

.error  {
	font-size: 10pt;
	font-family: verdana, arial, helvetica, sans-serif;
	color: red;
	font-weight: bold;
}

.success  {
	font-size: 10pt;
	font-family: verdana, arial, helvetica, sans-serif;
	color: green;
	font-weight: bold;
}

.indice {
	font-size: 12pt;
	font-family: verdana, arial, helvetica, sans-serif;
	color: White;
	background-color: #005B00;
}

.tdlink {
	width: 100%;
	text-decoration: none;
}
.tdlink:HOVER {color: #000000; }

input, textarea, select {
	color: #000000;
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
	border-color: #C0C0C0;
	border-width: 1px;
	height: 18px;
}
input.submit {
	font-weight: bold;
	background-color: #347aab;
	color: #EFEFEF;
	border-color: #C0C0C0;
	border-width: 2px;
	cursor: pointer;
	height: 18px;
}
input.button {
	cursor: pointer;
	height: 18px;
}

input.readonly {
	background-color: #ececec;
	text-align: center;
	height: 18px;
}

input.number {
	text-align: center;
	height: 18px;
}